// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// COLOR
$color-black: #111;
$color-white: #fff;
$color-grey: #777;
$color-red: red;
$color-blue: darkblue;
