// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// COLORS
$color-black: #111;
$color-white: #fff;
$color-grey: #eee;
$color-grey-dark: #777;

$color-yellow: #ffc83f;
$color-pink: #fa5e5b;
$color-blue: #1d508d;
$color-purple: #684e79;
