* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* OVERFLOW */
p {
  width: 8rem;
  height: 8rem;
  font-size: 1.8rem;
  overflow: scroll;
  white-space: normal;
  overflow-wrap: normal;
  background-color: darkcyan;
}
/* POUR CENT */
.main {
  width: 75vw;
  height: 50vh;
  background-color: darkorchid;
}
.box {
  width: 50%;
  height: 100%;
  background-color: darkslateblue;
}
/* img vs background-image */
/* https://blog.px-lab.com/html-img-tag-vs-css-background-image/ */

/* clip-path */
/* https://bennettfeely.com/clippy/ */

/* SVG */
/* https://developer.mozilla.org/en-US/docs/Web/SVG */
.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.6),
      transparent,
      #000
    ),
    url(../img/plane2.jpg) center no-repeat;
  background-size: cover;
  clip-path: polygon(
    0 0,
    100% 0,
    0 50%,
    100% 1%,
    100% 26%,
    100% 49.8%,
    7% 50%,
    100% 50.2%,
    100% 99%,
    0 50%,
    100% 100%,
    0 100%
  );
}
