.main-container {
  border: solid 1px rgba(64, 145, 211, 0.534);
  border-right: none;
  border-top: none;
  margin: 0px 0px 20px 200px;
  padding: 15px;
}
.title-underline {
  width: 99%;
  border-bottom: rgba(18, 97, 187, 0.541) solid 1px;
}
h2 {
  width: 100%;
  border-bottom: rgba(18, 97, 187, 0.671) dashed 1px;
}
h3 {
  width: 100%;
  border-bottom: rgba(18, 97, 187, 0.459) dashed 1px;
}
